@font-face {
  font-family: 'font-icon-maumau';
  src:  url('fonts/font-icon-maumau.eot?62w3jl');
  src:  url('fonts/font-icon-maumau.eot?62w3jl#iefix') format('embedded-opentype'),
    url('fonts/font-icon-maumau.ttf?62w3jl') format('truetype'),
    url('fonts/font-icon-maumau.woff?62w3jl') format('woff'),
    url('fonts/font-icon-maumau.svg?62w3jl#font-icon-maumau') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-icon-maumau' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mm-elderly:before {
  content: "\ea67";
}
.icon-mm-fire:before {
  content: "\ea68";
}
.icon-mm-hat:before {
  content: "\ea69";
}
.icon-mm-litter:before {
  content: "\ea6a";
}
.icon-mm-page-stacked-scrolling:before {
  content: "\ea6b";
}
.icon-mm-rabit:before {
  content: "\ea6c";
}
.icon-mm-accountant:before {
  content: "\e900";
}
.icon-mm-add-store:before {
  content: "\e901";
}
.icon-mm-ads:before {
  content: "\e902";
}
.icon-mm-air-conditioner:before {
  content: "\e903";
}
.icon-mm-alcohol:before {
  content: "\e904";
}
.icon-mm-alert-triangle:before {
  content: "\e905";
}
.icon-mm-alphabet:before {
  content: "\e906";
}
.icon-mm-analysis:before {
  content: "\e907";
}
.icon-mm-analysis-1:before {
  content: "\e908";
}
.icon-mm-analytic:before {
  content: "\e909";
}
.icon-mm-antique:before {
  content: "\e90a";
}
.icon-mm-apple:before {
  content: "\e90b";
}
.icon-mm-archive-down:before {
  content: "\e90c";
}
.icon-mm-archive-up:before {
  content: "\e90d";
}
.icon-mm-area:before {
  content: "\e90e";
}
.icon-mm-area-1:before {
  content: "\e90f";
}
.icon-mm-arm:before {
  content: "\e910";
}
.icon-mm-arrow-circle-up:before {
  content: "\e911";
}
.icon-mm-arrow-circle-up-solid:before {
  content: "\e912";
}
.icon-mm-arrow-down:before {
  content: "\e913";
}
.icon-mm-arrow-left:before {
  content: "\e914";
}
.icon-mm-arrow-right:before {
  content: "\e915";
}
.icon-mm-arrow-up:before {
  content: "\e916";
}
.icon-mm-arrow-up-down:before {
  content: "\e917";
}
.icon-mm-award:before {
  content: "\e918";
}
.icon-mm-baby-carriage:before {
  content: "\e919";
}
.icon-mm-bag:before {
  content: "\e91a";
}
.icon-mm-balo-vali:before {
  content: "\e91b";
}
.icon-mm-bartender:before {
  content: "\e91c";
}
.icon-mm-bathroom:before {
  content: "\e91d";
}
.icon-mm-bed:before {
  content: "\e91e";
}
.icon-mm-bedroom:before {
  content: "\e91f";
}
.icon-mm-bell:before {
  content: "\e920";
}
.icon-mm-bike:before {
  content: "\e921";
}
.icon-mm-bird:before {
  content: "\e922";
}
.icon-mm-bird-cage:before {
  content: "\e923";
}
.icon-mm-blender:before {
  content: "\e924";
}
.icon-mm-bookmark-1:before {
  content: "\e925";
}
.icon-mm-bookmark-1-solid:before {
  content: "\e926";
}
.icon-mm-box:before {
  content: "\e927";
}
.icon-mm-boxing:before {
  content: "\e928";
}
.icon-mm-breast-pump:before {
  content: "\e929";
}
.icon-mm-builders:before {
  content: "\e92a";
}
.icon-mm-building:before {
  content: "\e92b";
}
.icon-mm-building-solid:before {
  content: "\e92c";
}
.icon-mm-bullhorn:before {
  content: "\e92d";
}
.icon-mm-business-man:before {
  content: "\e92e";
}
.icon-mm-calendar:before {
  content: "\e92f";
}
.icon-mm-calendar-1:before {
  content: "\e930";
}
.icon-mm-camera:before {
  content: "\e931";
}
.icon-mm-canned-food:before {
  content: "\e932";
}
.icon-mm-car:before {
  content: "\e933";
}
.icon-mm-car-driver:before {
  content: "\e934";
}
.icon-mm-caret-down:before {
  content: "\e935";
}
.icon-mm-caret-up:before {
  content: "\e936";
}
.icon-mm-carpenter:before {
  content: "\e937";
}
.icon-mm-cashier:before {
  content: "\e938";
}
.icon-mm-cat:before {
  content: "\e939";
}
.icon-mm-cd:before {
  content: "\e93a";
}
.icon-mm-ceiling-light:before {
  content: "\e93b";
}
.icon-mm-certificate:before {
  content: "\e93c";
}
.icon-mm-certificate-1:before {
  content: "\e93d";
}
.icon-mm-check:before {
  content: "\e93e";
}
.icon-mm-check-circle:before {
  content: "\e93f";
}
.icon-mm-checkmark-circle:before {
  content: "\e940";
}
.icon-mm-chef:before {
  content: "\e941";
}
.icon-mm-chevron-down:before {
  content: "\e942";
}
.icon-mm-chevron-left:before {
  content: "\e943";
}
.icon-mm-chevron-right:before {
  content: "\e944";
}
.icon-mm-chevron-up:before {
  content: "\e945";
}
.icon-mm-chicken:before {
  content: "\e946";
}
.icon-mm-chip:before {
  content: "\e947";
}
.icon-mm-cinecamera:before {
  content: "\e948";
}
.icon-mm-circle-fill:before {
  content: "\e949";
}
.icon-mm-circle-outline:before {
  content: "\e94a";
}
.icon-mm-circle-play:before {
  content: "\e94b";
}
.icon-mm-climbing-tools:before {
  content: "\e94c";
}
.icon-mm-clock:before {
  content: "\e94d";
}
.icon-mm-color-lens:before {
  content: "\e94e";
}
.icon-mm-color-lens-solid:before {
  content: "\e94f";
}
.icon-mm-comment-chat:before {
  content: "\e950";
}
.icon-mm-comment-chat-1:before {
  content: "\e951";
}
.icon-mm-company:before {
  content: "\e952";
}
.icon-mm-computer:before {
  content: "\e953";
}
.icon-mm-condom:before {
  content: "\e954";
}
.icon-mm-cooker:before {
  content: "\e955";
}
.icon-mm-copy:before {
  content: "\e956";
}
.icon-mm-cosmetic-medicine:before {
  content: "\e957";
}
.icon-mm-course:before {
  content: "\e958";
}
.icon-mm-cpu:before {
  content: "\e959";
}
.icon-mm-customer-care:before {
  content: "\e95a";
}
.icon-mm-database:before {
  content: "\e95b";
}
.icon-mm-database-solid:before {
  content: "\e95c";
}
.icon-mm-decor:before {
  content: "\e95d";
}
.icon-mm-details:before {
  content: "\e95e";
}
.icon-mm-devices:before {
  content: "\e95f";
}
.icon-mm-devices-solid:before {
  content: "\e960";
}
.icon-mm-diapers:before {
  content: "\e961";
}
.icon-mm-digger:before {
  content: "\e962";
}
.icon-mm-direction:before {
  content: "\e963";
}
.icon-mm-discount:before {
  content: "\e964";
}
.icon-mm-dog:before {
  content: "\e965";
}
.icon-mm-doll:before {
  content: "\e966";
}
.icon-mm-domestic-worker:before {
  content: "\e967";
}
.icon-mm-download:before {
  content: "\e968";
}
.icon-mm-drill:before {
  content: "\e969";
}
.icon-mm-edit:before {
  content: "\e96a";
}
.icon-mm-edit-1:before {
  content: "\e96b";
}
.icon-mm-edit-2:before {
  content: "\e96c";
}
.icon-mm-electrician:before {
  content: "\e96d";
}
.icon-mm-electric-moto:before {
  content: "\e96e";
}
.icon-mm-eng-book:before {
  content: "\e96f";
}
.icon-mm-entertainment-event:before {
  content: "\e970";
}
.icon-mm-extern:before {
  content: "\e971";
}
.icon-mm-eye:before {
  content: "\e972";
}
.icon-mm-eye-off:before {
  content: "\e973";
}
.icon-mm-facebook:before {
  content: "\e974";
}
.icon-mm-fan:before {
  content: "\e975";
}
.icon-mm-fast-sale-1:before {
  content: "\e976";
}
.icon-mm-file-draft:before {
  content: "\e977";
}
.icon-mm-file-text-o:before {
  content: "\e978";
}
.icon-mm-filter:before {
  content: "\e979";
}
.icon-mm-filter-solid:before {
  content: "\e97a";
}
.icon-mm-finance:before {
  content: "\e97b";
}
.icon-mm-fish:before {
  content: "\e97c";
}
.icon-mm-fishing-rod:before {
  content: "\e97d";
}
.icon-mm-flag:before {
  content: "\e97e";
}
.icon-mm-flash-circle:before {
  content: "\e97f";
}
.icon-mm-food:before {
  content: "\e980";
}
.icon-mm-food-baby:before {
  content: "\e981";
}
.icon-mm-food-gym:before {
  content: "\e982";
}
.icon-mm-food-menu:before {
  content: "\e983";
}
.icon-mm-food-menu-solid:before {
  content: "\e984";
}
.icon-mm-food-solid:before {
  content: "\e985";
}
.icon-mm-food-tray:before {
  content: "\e986";
}
.icon-mm-football:before {
  content: "\e987";
}
.icon-mm-football-solid:before {
  content: "\e988";
}
.icon-mm-freon:before {
  content: "\e989";
}
.icon-mm-fridge:before {
  content: "\e98a";
}
.icon-mm-fridge-solid:before {
  content: "\e98b";
}
.icon-mm-furniture:before {
  content: "\e98c";
}
.icon-mm-furniture-other:before {
  content: "\e98d";
}
.icon-mm-game-pad:before {
  content: "\e98e";
}
.icon-mm-gamepad-outline:before {
  content: "\e98f";
}
.icon-mm-game-pad-solid:before {
  content: "\e990";
}
.icon-mm-gift:before {
  content: "\e991";
}
.icon-mm-gift-solid:before {
  content: "\e992";
}
.icon-mm-golf:before {
  content: "\e993";
}
.icon-mm-google-plus:before {
  content: "\e994";
}
.icon-mm-gpu:before {
  content: "\e995";
}
.icon-mm-grid:before {
  content: "\e996";
}
.icon-mm-grid-solid:before {
  content: "\e997";
}
.icon-mm-gui-certificate:before {
  content: "\e998";
}
.icon-mm-guitar:before {
  content: "\e999";
}
.icon-mm-haircut:before {
  content: "\e99a";
}
.icon-mm-hand-bag:before {
  content: "\e99b";
}
.icon-mm-hand-sanitizer:before {
  content: "\e99c";
}
.icon-mm-headphone:before {
  content: "\e99d";
}
.icon-mm-headphone-1:before {
  content: "\e99e";
}
.icon-mm-healthy-food:before {
  content: "\e99f";
}
.icon-mm-heart:before {
  content: "\e9a0";
}
.icon-mm-heart-solid:before {
  content: "\e9a1";
}
.icon-mm-height:before {
  content: "\e9a2";
}
.icon-mm-help-circle:before {
  content: "\e9a3";
}
.icon-mm-help-the-chef:before {
  content: "\e9a4";
}
.icon-mm-high-heels:before {
  content: "\e9a5";
}
.icon-mm-history:before {
  content: "\e9a6";
}
.icon-mm-home:before {
  content: "\e9a7";
}
.icon-mm-home-solid:before {
  content: "\e9a8";
}
.icon-mm-hoodie:before {
  content: "\e9a9";
}
.icon-mm-housekeeper:before {
  content: "\e9aa";
}
.icon-mm-image:before {
  content: "\e9ab";
}
.icon-mm-image-circle:before {
  content: "\e9ac";
}
.icon-mm-indoor-plants:before {
  content: "\e9ad";
}
.icon-mm-industrial:before {
  content: "\e9ae";
}
.icon-mm-info:before {
  content: "\e9af";
}
.icon-mm-info-solid:before {
  content: "\e9b0";
}
.icon-mm-infrared-thermometer:before {
  content: "\e9b1";
}
.icon-mm-instagram:before {
  content: "\e9b2";
}
.icon-mm-installation:before {
  content: "\e9b3";
}
.icon-mm-juice:before {
  content: "\e9b4";
}
.icon-mm-key:before {
  content: "\e9b5";
}
.icon-mm-kid-fashion:before {
  content: "\e9b6";
}
.icon-mm-knee-pad:before {
  content: "\e9b7";
}
.icon-mm-laptop:before {
  content: "\e9b8";
}
.icon-mm-link:before {
  content: "\e9b9";
}
.icon-mm-linkedin:before {
  content: "\e9ba";
}
.icon-mm-lipstick:before {
  content: "\e9bb";
}
.icon-mm-lipstick-solid:before {
  content: "\e9bc";
}
.icon-mm-list:before {
  content: "\e9bd";
}
.icon-mm-location:before {
  content: "\e9be";
}
.icon-mm-location-pin:before {
  content: "\e9bf";
}
.icon-mm-location-solid:before {
  content: "\e9c0";
}
.icon-mm-locked:before {
  content: "\e9c1";
}
.icon-mm-log-out:before {
  content: "\e9c2";
}
.icon-mm-luggage:before {
  content: "\e9c3";
}
.icon-mm-mail:before {
  content: "\e9c4";
}
.icon-mm-makeup:before {
  content: "\e9c5";
}
.icon-mm-makeup-1:before {
  content: "\e9c6";
}
.icon-mm-map:before {
  content: "\e9c7";
}
.icon-mm-massage-machine:before {
  content: "\e9c8";
}
.icon-mm-mechanic:before {
  content: "\e9c9";
}
.icon-mm-medical:before {
  content: "\e9ca";
}
.icon-mm-menu:before {
  content: "\e9cb";
}
.icon-mm-messenger:before {
  content: "\e9cc";
}
.icon-mm-microwave:before {
  content: "\e9cd";
}
.icon-mm-milk-cheese:before {
  content: "\e9ce";
}
.icon-mm-money:before {
  content: "\e9cf";
}
.icon-mm-money-bag:before {
  content: "\e9d0";
}
.icon-mm-more-h:before {
  content: "\e9d1";
}
.icon-mm-more-v:before {
  content: "\e9d2";
}
.icon-mm-mother-baby:before {
  content: "\e9d3";
}
.icon-mm-mother-baby-solid:before {
  content: "\e9d4";
}
.icon-mm-motorbike-delivery:before {
  content: "\e9d5";
}
.icon-mm-mouse-click:before {
  content: "\e9d6";
}
.icon-mm-mouse-key-monitor:before {
  content: "\e9d7";
}
.icon-mm-move-arrows:before {
  content: "\e9d8";
}
.icon-mm-nail:before {
  content: "\e9d9";
}
.icon-mm-new:before {
  content: "\e9da";
}
.icon-mm-notice:before {
  content: "\e9db";
}
.icon-mm-nut:before {
  content: "\e9dc";
}
.icon-mm-nuts:before {
  content: "\e9dd";
}
.icon-mm-office-worker:before {
  content: "\e9de";
}
.icon-mm-oil:before {
  content: "\e9df";
}
.icon-mm-page:before {
  content: "\e9e0";
}
.icon-mm-pan:before {
  content: "\e9e1";
}
.icon-mm-paper-plane:before {
  content: "\e9e2";
}
.icon-mm-pause:before {
  content: "\e9e3";
}
.icon-mm-perfume:before {
  content: "\e9e4";
}
.icon-mm-pet-clothes:before {
  content: "\e9e5";
}
.icon-mm-pet-food:before {
  content: "\e9e6";
}
.icon-mm-pet-medicine:before {
  content: "\e9e7";
}
.icon-mm-pets:before {
  content: "\e9e8";
}
.icon-mm-pets-solid:before {
  content: "\e9e9";
}
.icon-mm-pg:before {
  content: "\e9ea";
}
.icon-mm-phone:before {
  content: "\e9eb";
}
.icon-mm-phone-1:before {
  content: "\e9ec";
}
.icon-mm-picnic-item:before {
  content: "\e9ed";
}
.icon-mm-picture:before {
  content: "\e9ee";
}
.icon-mm-pinterest:before {
  content: "\e9ef";
}
.icon-mm-plus:before {
  content: "\e9f0";
}
.icon-mm-plus-circle:before {
  content: "\e9f1";
}
.icon-mm-power-bank:before {
  content: "\e9f2";
}
.icon-mm-printer-outline:before {
  content: "\e9f3";
}
.icon-mm-profile:before {
  content: "\e9f4";
}
.icon-mm-profile-solid:before {
  content: "\e9f5";
}
.icon-mm-promote:before {
  content: "\e9f6";
}
.icon-mm-receptionist:before {
  content: "\e9f7";
}
.icon-mm-recruitment:before {
  content: "\e9f8";
}
.icon-mm-repeat:before {
  content: "\e9f9";
}
.icon-mm-restaurant-staff:before {
  content: "\e9fa";
}
.icon-mm-ring:before {
  content: "\e9fb";
}
.icon-mm-road:before {
  content: "\e9fc";
}
.icon-mm-rocket:before {
  content: "\e9fd";
}
.icon-mm-rocketbook:before {
  content: "\e9fe";
}
.icon-mm-safe:before {
  content: "\e9ff";
}
.icon-mm-save:before {
  content: "\ea00";
}
.icon-mm-scooter:before {
  content: "\ea01";
}
.icon-mm-scooter_1:before {
  content: "\ea02";
}
.icon-mm-screen-size:before {
  content: "\ea03";
}
.icon-mm-search:before {
  content: "\ea04";
}
.icon-mm-secretary:before {
  content: "\ea05";
}
.icon-mm-security:before {
  content: "\ea06";
}
.icon-mm-seller:before {
  content: "\ea07";
}
.icon-mm-send:before {
  content: "\ea08";
}
.icon-mm-service:before {
  content: "\ea09";
}
.icon-mm-settings:before {
  content: "\ea0a";
}
.icon-mm-share:before {
  content: "\ea0b";
}
.icon-mm-share_1:before {
  content: "\ea0c";
}
.icon-mm-share_1-solid:before {
  content: "\ea0d";
}
.icon-mm-shelf:before {
  content: "\ea0e";
}
.icon-mm-shield:before {
  content: "\ea0f";
}
.icon-mm-shield-dollar:before {
  content: "\ea10";
}
.icon-mm-shield-dollar-solid:before {
  content: "\ea11";
}
.icon-mm-shopping-bag:before {
  content: "\ea12";
}
.icon-mm-skincare:before {
  content: "\ea13";
}
.icon-mm-skincare-set:before {
  content: "\ea14";
}
.icon-mm-slash:before {
  content: "\ea15";
}
.icon-mm-slide:before {
  content: "\ea16";
}
.icon-mm-sliders-horizontal:before {
  content: "\ea17";
}
.icon-mm-smartphone:before {
  content: "\ea18";
}
.icon-mm-smart-watch:before {
  content: "\ea19";
}
.icon-mm-sms:before {
  content: "\ea1a";
}
.icon-mm-snack:before {
  content: "\ea1b";
}
.icon-mm-sneaker:before {
  content: "\ea1c";
}
.icon-mm-soap:before {
  content: "\ea1d";
}
.icon-mm-social:before {
  content: "\ea1e";
}
.icon-mm-social-solid:before {
  content: "\ea1f";
}
.icon-mm-sofa:before {
  content: "\ea20";
}
.icon-mm-sort-amount-down:before {
  content: "\ea21";
}
.icon-mm-sort-amount-up:before {
  content: "\ea22";
}
.icon-mm-spa:before {
  content: "\ea23";
}
.icon-mm-speaker:before {
  content: "\ea24";
}
.icon-mm-spice:before {
  content: "\ea25";
}
.icon-mm-sport-bag:before {
  content: "\ea26";
}
.icon-mm-sport-wear:before {
  content: "\ea27";
}
.icon-mm-square:before {
  content: "\ea28";
}
.icon-mm-star:before {
  content: "\ea29";
}
.icon-mm-star-solid:before {
  content: "\ea2a";
}
.icon-mm-stationery:before {
  content: "\ea2b";
}
.icon-mm-stationery-solid:before {
  content: "\ea2c";
}
.icon-mm-status:before {
  content: "\ea2d";
}
.icon-mm-status-1:before {
  content: "\ea2e";
}
.icon-mm-status-11:before {
  content: "\ea2f";
}
.icon-mm-status-solid:before {
  content: "\ea30";
}
.icon-mm-store:before {
  content: "\ea31";
}
.icon-mm-stove:before {
  content: "\ea32";
}
.icon-mm-sync:before {
  content: "\ea33";
}
.icon-mm-tablet:before {
  content: "\ea34";
}
.icon-mm-tag-1:before {
  content: "\ea35";
}
.icon-mm-tag-1-solid:before {
  content: "\ea36";
}
.icon-mm-tag-solid:before {
  content: "\ea37";
}
.icon-mm-tailor:before {
  content: "\ea38";
}
.icon-mm-tailor-at-home:before {
  content: "\ea39";
}
.icon-mm-team-sport:before {
  content: "\ea3a";
}
.icon-mm-telesales:before {
  content: "\ea3b";
}
.icon-mm-television:before {
  content: "\ea3c";
}
.icon-mm-tenis:before {
  content: "\ea3d";
}
.icon-mm-thumbs-up:before {
  content: "\ea3e";
}
.icon-mm-times:before {
  content: "\ea3f";
}
.icon-mm-toothbrush:before {
  content: "\ea40";
}
.icon-mm-toy-car:before {
  content: "\ea41";
}
.icon-mm-trash:before {
  content: "\ea42";
}
.icon-mm-trash-solid:before {
  content: "\ea43";
}
.icon-mm-treadmill:before {
  content: "\ea44";
}
.icon-mm-twitter:before {
  content: "\ea45";
}
.icon-mm-twitter-new:before {
  content: "\ea46";
}
.icon-mm-undo:before {
  content: "\ea47";
}
.icon-mm-upload:before {
  content: "\ea48";
}
.icon-mm-usb:before {
  content: "\ea49";
}
.icon-mm-user1:before {
  content: "\ea4a";
}
.icon-mm-user-2:before {
  content: "\ea4b";
}
.icon-mm-user-circle:before {
  content: "\ea4c";
}
.icon-mm-user-plus:before {
  content: "\ea4d";
}
.icon-mm-users:before {
  content: "\ea4e";
}
.icon-mm-vacuum-cleaner:before {
  content: "\ea4f";
}
.icon-mm-van:before {
  content: "\ea50";
}
.icon-mm-vehicle-repairs:before {
  content: "\ea51";
}
.icon-mm-vest:before {
  content: "\ea52";
}
.icon-mm-vest-solid:before {
  content: "\ea53";
}
.icon-mm-vie-book:before {
  content: "\ea54";
}
.icon-mm-vip:before {
  content: "\ea55";
}
.icon-mm-vip-1:before {
  content: "\ea56";
}
.icon-mm-voucher:before {
  content: "\ea57";
}
.icon-mm-wallet:before {
  content: "\ea58";
}
.icon-mm-wallet-plus:before {
  content: "\ea59";
}
.icon-mm-warehouse:before {
  content: "\ea5a";
}
.icon-mm-warranty-term:before {
  content: "\ea5b";
}
.icon-mm-washing-machine:before {
  content: "\ea5c";
}
.icon-mm-watch:before {
  content: "\ea5d";
}
.icon-mm-water-can:before {
  content: "\ea5e";
}
.icon-mm-water-sport:before {
  content: "\ea5f";
}
.icon-mm-wheel:before {
  content: "\ea60";
}
.icon-mm-width:before {
  content: "\ea61";
}
.icon-mm-wifi-router:before {
  content: "\ea62";
}
.icon-mm-worker:before {
  content: "\ea63";
}
.icon-mm-worship:before {
  content: "\ea64";
}
.icon-mm-youtube:before {
  content: "\ea65";
}
.icon-mm-zalo:before {
  content: "\ea66";
}
