@font-face {
  font-family: 'font-icon-maumau-1';
  src:  url('fonts/font-icon-maumau-1.eot?i9seav');
  src:  url('fonts/font-icon-maumau-1.eot?i9seav#iefix') format('embedded-opentype'),
    url('fonts/font-icon-maumau-1.ttf?i9seav') format('truetype'),
    url('fonts/font-icon-maumau-1.woff?i9seav') format('woff'),
    url('fonts/font-icon-maumau-1.svg?i9seav#font-icon-maumau-1') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.mm-1 {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-icon-maumau-1' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.accountant:before {
  content: "\e900";
}
.add-store:before {
  content: "\e901";
}
.ads:before {
  content: "\e902";
}
.air-conditioner:before {
  content: "\e903";
}
.alcohol:before {
  content: "\e904";
}
.alert-triangle:before {
  content: "\e905";
}
.alphabet:before {
  content: "\e906";
}
.analysis:before {
  content: "\e907";
}
.analysis-1:before {
  content: "\e908";
}
.analytic:before {
  content: "\e909";
}
.antique:before {
  content: "\e90a";
}
.apple:before {
  content: "\e90b";
}
.archive-down:before {
  content: "\e90c";
}
.archive-up:before {
  content: "\e90d";
}
.area:before {
  content: "\e90e";
}
.area-1:before {
  content: "\e90f";
}
.arm:before {
  content: "\e910";
}
.arrow-circle-up:before {
  content: "\e911";
}
.arrow-down:before {
  content: "\e912";
}
.arrow-left:before {
  content: "\e913";
}
.arrow-right:before {
  content: "\e914";
}
.arrow-up:before {
  content: "\e915";
}
.arrow-up-down:before {
  content: "\e916";
}
.avatar:before {
  content: "\e917";
}
.award:before {
  content: "\e918";
}
.baby-carriage:before {
  content: "\e919";
}
.bag:before {
  content: "\e91a";
}
.balo-vali:before {
  content: "\e91b";
}
.bartender:before {
  content: "\e91c";
}
.bathroom:before {
  content: "\e91d";
}
.bed:before {
  content: "\e91e";
}
.bedroom:before {
  content: "\e91f";
}
.bell:before {
  content: "\e920";
}
.bike:before {
  content: "\e921";
}
.bird:before {
  content: "\e922";
}
.bird-cage:before {
  content: "\e923";
}
.blender:before {
  content: "\e924";
}
.bookmark-1:before {
  content: "\e925";
}
.box:before {
  content: "\e926";
}
.boxing:before {
  content: "\e927";
}
.breast-pump:before {
  content: "\e928";
}
.builders:before {
  content: "\e929";
}
.building:before {
  content: "\e92a";
}
.bullhorn:before {
  content: "\e92b";
}
.business-man:before {
  content: "\e92c";
}
.calendar:before {
  content: "\e92d";
}
.calendar-1:before {
  content: "\e92e";
}
.camera:before {
  content: "\e92f";
}
.canned-food:before {
  content: "\e930";
}
.car:before {
  content: "\e931";
}
.car-driver:before {
  content: "\e932";
}
.caret-down:before {
  content: "\e933";
}
.caret-up:before {
  content: "\e934";
}
.carpenter:before {
  content: "\e935";
}
.car-plane:before {
  content: "\e936";
}
.cashier:before {
  content: "\e937";
}
.cat:before {
  content: "\e938";
}
.cd:before {
  content: "\e939";
}
.ceiling-light:before {
  content: "\e93a";
}
.certificate:before {
  content: "\e93b";
}
.certificate-1:before {
  content: "\e93c";
}
.chats:before {
  content: "\e93d";
}
.chats-1:before {
  content: "\e93e";
}
.chats-1-smile:before {
  content: "\e93f";
}
.chats-2:before {
  content: "\e940";
}
.chats-dots-thin:before {
  content: "\e941";
}
.chats-thin:before {
  content: "\e942";
}
.check:before {
  content: "\e943";
}
.check-circle:before {
  content: "\e944";
}
.checklist:before {
  content: "\e945";
}
.check-list-file-thin:before {
  content: "\e946";
}
.checkmark-circle:before {
  content: "\e947";
}
.chef:before {
  content: "\e948";
}
.chevron-down:before {
  content: "\e949";
}
.chevron-left:before {
  content: "\e94a";
}
.chevron-right:before {
  content: "\e94b";
}
.chevron-up:before {
  content: "\e94c";
}
.chicken:before {
  content: "\e94d";
}
.chip:before {
  content: "\e94e";
}
.cinecamera:before {
  content: "\e94f";
}
.circle-fill:before {
  content: "\e950";
}
.circle-outline:before {
  content: "\e951";
}
.circle-play:before {
  content: "\e952";
}
.climbing-tools:before {
  content: "\e953";
}
.clipboard-list-check:before {
  content: "\e954";
}
.clock:before {
  content: "\e955";
}
.color-lens:before {
  content: "\e956";
}
.comment-chat:before {
  content: "\e957";
}
.comment-chat-1:before {
  content: "\e958";
}
.company:before {
  content: "\e959";
}
.computer:before {
  content: "\e95a";
}
.condom:before {
  content: "\e95b";
}
.cooker:before {
  content: "\e95c";
}
.copy:before {
  content: "\e95d";
}
.cosmetic-medicine:before {
  content: "\e95e";
}
.course:before {
  content: "\e95f";
}
.cpu:before {
  content: "\e960";
}
.customer-care:before {
  content: "\e961";
}
.database:before {
  content: "\e962";
}
.decor:before {
  content: "\e963";
}
.details:before {
  content: "\e964";
}
.devices:before {
  content: "\e965";
}
.diapers:before {
  content: "\e966";
}
.digger:before {
  content: "\e967";
}
.direction:before {
  content: "\e968";
}
.discount:before {
  content: "\e969";
}
.dog:before {
  content: "\e96a";
}
.doll:before {
  content: "\e96b";
}
.domestic-worker:before {
  content: "\e96c";
}
.download:before {
  content: "\e96d";
}
.drill:before {
  content: "\e96e";
}
.edit:before {
  content: "\e96f";
}
.edit-1:before {
  content: "\e970";
}
.edit-2:before {
  content: "\e971";
}
.elderly:before {
  content: "\e972";
}
.electrician:before {
  content: "\e973";
}
.electric-moto:before {
  content: "\e974";
}
.eng-book:before {
  content: "\e975";
}
.entertainment-event:before {
  content: "\e976";
}
.extern:before {
  content: "\e977";
}
.eye:before {
  content: "\e978";
}
.eye-off:before {
  content: "\e979";
}
.facebook:before {
  content: "\e97a";
}
.fan:before {
  content: "\e97b";
}
.fast-sale-1:before {
  content: "\e97c";
}
.feedback2:before {
  content: "\e97d";
}
.file-draft:before {
  content: "\e97e";
}
.file-text-o:before {
  content: "\e97f";
}
.filter:before {
  content: "\e980";
}
.finance:before {
  content: "\e981";
}
.fire:before {
  content: "\e982";
}
.fish:before {
  content: "\e983";
}
.fishing-rod:before {
  content: "\e984";
}
.flag:before {
  content: "\e985";
}
.flash:before {
  content: "\e986";
}
.flash-1:before {
  content: "\e987";
}
.flash-circle:before {
  content: "\e988";
}
.food:before {
  content: "\e989";
}
.food-baby:before {
  content: "\e98a";
}
.food-gym:before {
  content: "\e98b";
}
.food-menu:before {
  content: "\e98c";
}
.food-tray:before {
  content: "\e98d";
}
.football:before {
  content: "\e98e";
}
.freon:before {
  content: "\e98f";
}
.fridge:before {
  content: "\e990";
}
.fullscreen:before {
  content: "\e991";
}
.fullscreen-1:before {
  content: "\e992";
}
.furniture:before {
  content: "\e993";
}
.furniture-other:before {
  content: "\e994";
}
.game-pad:before {
  content: "\e995";
}
.gamepad-outline:before {
  content: "\e996";
}
.gift:before {
  content: "\e997";
}
.golf:before {
  content: "\e998";
}
.google-plus:before {
  content: "\e999";
}
.gpu:before {
  content: "\e99a";
}
.grid:before {
  content: "\e99b";
}
.gui-certificate:before {
  content: "\e99c";
}
.guitar:before {
  content: "\e99d";
}
.haircut:before {
  content: "\e99e";
}
.hand-bag:before {
  content: "\e99f";
}
.hand-sanitizer:before {
  content: "\e9a0";
}
.hat:before {
  content: "\e9a1";
}
.headphone:before {
  content: "\e9a2";
}
.headphone-1:before {
  content: "\e9a3";
}
.healthy-food:before {
  content: "\e9a4";
}
.heart:before {
  content: "\e9a5";
}
.height:before {
  content: "\e9a6";
}
.help-circle:before {
  content: "\e9a7";
}
.help-the-chef:before {
  content: "\e9a8";
}
.high-heels:before {
  content: "\e9a9";
}
.history:before {
  content: "\e9aa";
}
.home:before {
  content: "\e9ab";
}
.hoodie:before {
  content: "\e9ac";
}
.housekeeper:before {
  content: "\e9ad";
}
.image:before {
  content: "\e9ae";
}
.image-circle:before {
  content: "\e9af";
}
.indoor-plants:before {
  content: "\e9b0";
}
.info:before {
  content: "\e9b1";
}
.infrared-thermometer:before {
  content: "\e9b2";
}
.instagram:before {
  content: "\e9b3";
}
.installation:before {
  content: "\e9b4";
}
.juice:before {
  content: "\e9b5";
}
.key:before {
  content: "\e9b6";
}
.kid-fashion:before {
  content: "\e9b7";
}
.knee-pad:before {
  content: "\e9b8";
}
.laptop:before {
  content: "\e9b9";
}
.link:before {
  content: "\e9ba";
}
.linkedin:before {
  content: "\e9bb";
}
.lipstick:before {
  content: "\e9bc";
}
.list:before {
  content: "\e9bd";
}
.litter:before {
  content: "\e9be";
}
.location:before {
  content: "\e9bf";
}
.location-pin:before {
  content: "\e9c0";
}
.locked:before {
  content: "\e9c1";
}
.log-out:before {
  content: "\e9c2";
}
.luggage:before {
  content: "\e9c3";
}
.mail:before {
  content: "\e9c4";
}
.makeup:before {
  content: "\e9c5";
}
.makeup-1:before {
  content: "\e9c6";
}
.massage-machine:before {
  content: "\e9c7";
}
.mechanic:before {
  content: "\e9c8";
}
.medical:before {
  content: "\e9c9";
}
.menu:before {
  content: "\e9ca";
}
.menu-1:before {
  content: "\e9cb";
}
.menu-2:before {
  content: "\e9cc";
}
.messenger:before {
  content: "\e9cd";
}
.microwave:before {
  content: "\e9ce";
}
.milk-cheese:before {
  content: "\e9cf";
}
.money:before {
  content: "\e9d0";
}
.money-bag:before {
  content: "\e9d1";
}
.more-h:before {
  content: "\e9d2";
}
.more-h-1:before {
  content: "\e9d3";
}
.more-v:before {
  content: "\e9d4";
}
.more-v-1:before {
  content: "\e9d5";
}
.mother-baby:before {
  content: "\e9d6";
}
.motorbike-delivery:before {
  content: "\e9d7";
}
.mouse-click:before {
  content: "\e9d8";
}
.mouse-key-monitor:before {
  content: "\e9d9";
}
.move-arrows:before {
  content: "\e9da";
}
.nail:before {
  content: "\e9db";
}
.new:before {
  content: "\e9dc";
}
.notice:before {
  content: "\e9dd";
}
.nut:before {
  content: "\e9de";
}
.nuts:before {
  content: "\e9df";
}
.office-worker:before {
  content: "\e9e0";
}
.oil:before {
  content: "\e9e1";
}
.page:before {
  content: "\e9e2";
}
.page-stacked-scrolling:before {
  content: "\e9e3";
}
.pan:before {
  content: "\e9e4";
}
.perfume:before {
  content: "\e9e5";
}
.pet-clothes:before {
  content: "\e9e6";
}
.pet-food:before {
  content: "\e9e7";
}
.pet-medicine:before {
  content: "\e9e8";
}
.pets:before {
  content: "\e9e9";
}
.pg:before {
  content: "\e9ea";
}
.phone:before {
  content: "\e9eb";
}
.phone-1:before {
  content: "\e9ec";
}
.picnic-item:before {
  content: "\e9ed";
}
.picture:before {
  content: "\e9ee";
}
.pinterest:before {
  content: "\e9ef";
}
.plus:before {
  content: "\e9f0";
}
.plus-circle:before {
  content: "\e9f1";
}
.post-add:before {
  content: "\e9f2";
}
.power-bank:before {
  content: "\e9f3";
}
.printer-outline:before {
  content: "\e9f4";
}
.profile:before {
  content: "\e9f5";
}
.promote:before {
  content: "\e9f6";
}
.rabit:before {
  content: "\e9f7";
}
.receptionist:before {
  content: "\e9f8";
}
.recruitment:before {
  content: "\e9f9";
}
.repeat:before {
  content: "\e9fa";
}
.restaurant-staff:before {
  content: "\e9fb";
}
.ring:before {
  content: "\e9fc";
}
.road:before {
  content: "\e9fd";
}
.rocket:before {
  content: "\e9fe";
}
.rocketbook:before {
  content: "\e9ff";
}
.safe:before {
  content: "\ea00";
}
.save:before {
  content: "\ea01";
}
.scooter:before {
  content: "\ea02";
}
.scooter_1:before {
  content: "\ea03";
}
.screen-size:before {
  content: "\ea04";
}
.search:before {
  content: "\ea05";
}
.secretary:before {
  content: "\ea06";
}
.security:before {
  content: "\ea07";
}
.seller:before {
  content: "\ea08";
}
.send:before {
  content: "\ea09";
}
.service:before {
  content: "\ea0a";
}
.settings:before {
  content: "\ea0b";
}
.share:before {
  content: "\ea0c";
}
.share_1:before {
  content: "\ea0d";
}
.shelf:before {
  content: "\ea0e";
}
.shield:before {
  content: "\ea0f";
}
.shield-dollar:before {
  content: "\ea10";
}
.shopping-bag:before {
  content: "\ea11";
}
.shopping-bag-1:before {
  content: "\ea12";
}
.shopping-bags:before {
  content: "\ea13";
}
.shopping-bag-thin:before {
  content: "\ea14";
}
.shopping-cart:before {
  content: "\ea15";
}
.shopping-cart-1:before {
  content: "\ea16";
}
.shopping-cart-2:before {
  content: "\ea17";
}
.shopping-cart-3:before {
  content: "\ea18";
}
.shopping-cart-thin:before {
  content: "\ea19";
}
.skincare:before {
  content: "\ea1a";
}
.skincare-set:before {
  content: "\ea1b";
}
.slash:before {
  content: "\ea1c";
}
.slide:before {
  content: "\ea1d";
}
.sliders-horizontal:before {
  content: "\ea1e";
}
.smartphone:before {
  content: "\ea1f";
}
.smart-watch:before {
  content: "\ea20";
}
.sms:before {
  content: "\ea21";
}
.snack:before {
  content: "\ea22";
}
.sneaker:before {
  content: "\ea23";
}
.soap:before {
  content: "\ea24";
}
.social:before {
  content: "\ea25";
}
.sofa:before {
  content: "\ea26";
}
.solid-analysis:before {
  content: "\ea27";
}
.solid-analysis-1:before {
  content: "\ea28";
}
.solid-arrow-circle-up:before {
  content: "\ea29";
}
.solid-avatar:before {
  content: "\ea2a";
}
.solid-bell:before {
  content: "\ea2b";
}
.solid-bookmark-1:before {
  content: "\ea2c";
}
.solid-box:before {
  content: "\ea2d";
}
.solid-building:before {
  content: "\ea2e";
}
.solid-car:before {
  content: "\ea2f";
}
.solid-chats-1-smile:before {
  content: "\ea30";
}
.solid-checklist:before {
  content: "\ea31";
}
.solid-clock:before {
  content: "\ea32";
}
.solid-color-lens:before {
  content: "\ea33";
}
.solid-cooker:before {
  content: "\ea34";
}
.solid-copy:before {
  content: "\ea35";
}
.solid-database:before {
  content: "\ea36";
}
.solid-devices:before {
  content: "\ea37";
}
.solid-direction:before {
  content: "\ea38";
}
.solid-dress:before {
  content: "\ea39";
}
.solid-filter:before {
  content: "\ea3a";
}
.solid-fire:before {
  content: "\ea3b";
}
.solid-food:before {
  content: "\ea3c";
}
.solid-food-menu:before {
  content: "\ea3d";
}
.solid-football:before {
  content: "\ea3e";
}
.solid-fridge:before {
  content: "\ea3f";
}
.solid-game-pad:before {
  content: "\ea40";
}
.solid-gift:before {
  content: "\ea41";
}
.solid-grid:before {
  content: "\ea42";
}
.solid-heart:before {
  content: "\ea43";
}
.solid-home:before {
  content: "\ea44";
}
.solid-industrial:before {
  content: "\ea45";
}
.solid-info:before {
  content: "\ea46";
}
.solid-lipstick:before {
  content: "\ea47";
}
.solid-location:before {
  content: "\ea48";
}
.solid-locked:before {
  content: "\ea49";
}
.solid-makeup:before {
  content: "\ea4a";
}
.solid-map:before {
  content: "\ea4b";
}
.solid-mother-baby:before {
  content: "\ea4c";
}
.solid-paper-plane:before {
  content: "\ea4d";
}
.solid-pause:before {
  content: "\ea4e";
}
.solid-pets:before {
  content: "\ea4f";
}
.solid-phone:before {
  content: "\ea50";
}
.solid-phone-1:before {
  content: "\ea51";
}
.solid-profile:before {
  content: "\ea52";
}
.solid-share_1:before {
  content: "\ea53";
}
.solid-shield-dollar:before {
  content: "\ea54";
}
.solid-shopping-bag:before {
  content: "\ea55";
}
.solid-social:before {
  content: "\ea56";
}
.solid-star:before {
  content: "\ea57";
}
.solid-stationery:before {
  content: "\ea58";
}
.solid-status:before {
  content: "\ea59";
}
.solid-tag:before {
  content: "\ea5a";
}
.solid-tag-1:before {
  content: "\ea5b";
}
.solid-trash:before {
  content: "\ea5c";
}
.solid-vest:before {
  content: "\ea5d";
}
.solid-voucher:before {
  content: "\ea5e";
}
.sort-amount-down:before {
  content: "\ea5f";
}
.sort-amount-up:before {
  content: "\ea60";
}
.spa:before {
  content: "\ea61";
}
.speaker:before {
  content: "\ea62";
}
.spice:before {
  content: "\ea63";
}
.sport-bag:before {
  content: "\ea64";
}
.sport-wear:before {
  content: "\ea65";
}
.square:before {
  content: "\ea66";
}
.star:before {
  content: "\ea67";
}
.stationery:before {
  content: "\ea68";
}
.status:before {
  content: "\ea69";
}
.status-1:before {
  content: "\ea6a";
}
.status-11:before {
  content: "\ea6b";
}
.store:before {
  content: "\ea6c";
}
.stove:before {
  content: "\ea6d";
}
.sync:before {
  content: "\ea6e";
}
.tablet:before {
  content: "\ea6f";
}
.tag-1:before {
  content: "\ea70";
}
.tailor:before {
  content: "\ea71";
}
.tailor-at-home:before {
  content: "\ea72";
}
.team-sport:before {
  content: "\ea73";
}
.technicians:before {
  content: "\ea74";
}
.telesales:before {
  content: "\ea75";
}
.television:before {
  content: "\ea76";
}
.tenis:before {
  content: "\ea77";
}
.thumbs-up:before {
  content: "\ea78";
}
.times:before {
  content: "\ea79";
}
.toothbrush:before {
  content: "\ea7a";
}
.tour-guide:before {
  content: "\ea7b";
}
.toy-car:before {
  content: "\ea7c";
}
.trash:before {
  content: "\ea7d";
}
.treadmill:before {
  content: "\ea7e";
}
.twitter:before {
  content: "\ea7f";
}
.twitter-new:before {
  content: "\ea80";
}
.undo:before {
  content: "\ea81";
}
.upload:before {
  content: "\ea82";
}
.usb:before {
  content: "\ea83";
}
.user1:before {
  content: "\ea84";
}
.user-2:before {
  content: "\ea85";
}
.user-circle:before {
  content: "\ea86";
}
.user-plus:before {
  content: "\ea87";
}
.users:before {
  content: "\ea88";
}
.vacuum-cleaner:before {
  content: "\ea89";
}
.van:before {
  content: "\ea8a";
}
.vehicle-repairs:before {
  content: "\ea8b";
}
.vest:before {
  content: "\ea8c";
}
.vie-book:before {
  content: "\ea8d";
}
.vip:before {
  content: "\ea8e";
}
.vip-1:before {
  content: "\ea8f";
}
.voucher:before {
  content: "\ea90";
}
.wallet:before {
  content: "\ea91";
}
.wallet-plus:before {
  content: "\ea92";
}
.warehouse:before {
  content: "\ea93";
}
.warranty-term:before {
  content: "\ea94";
}
.washing-machine:before {
  content: "\ea95";
}
.watch:before {
  content: "\ea96";
}
.water-can:before {
  content: "\ea97";
}
.water-sport:before {
  content: "\ea98";
}
.webpage:before {
  content: "\ea99";
}
.webpage-1:before {
  content: "\ea9a";
}
.wheel:before {
  content: "\ea9b";
}
.width:before {
  content: "\ea9c";
}
.wifi-router:before {
  content: "\ea9d";
}
.worker:before {
  content: "\ea9e";
}
.worship:before {
  content: "\ea9f";
}
.youtube:before {
  content: "\eaa0";
}
.zalo:before {
  content: "\eaa1";
}
