@font-face {
  font-family: 'font-icon-admin-maumau';
  src:  url('fonts/font-icon-admin-maumau.eot?s0gv86');
  src:  url('fonts/font-icon-admin-maumau.eot?s0gv86#iefix') format('embedded-opentype'),
    url('fonts/font-icon-admin-maumau.ttf?s0gv86') format('truetype'),
    url('fonts/font-icon-admin-maumau.woff?s0gv86') format('woff'),
    url('fonts/font-icon-admin-maumau.svg?s0gv86#font-icon-admin-maumau') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ad-mm {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-icon-admin-maumau' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stop-circle:before {
  content: "\f100";
}
.aperture:before {
  content: "\f101";
}
.bar-chart-square:before {
  content: "\f102";
}
.book-content:before {
  content: "\f103";
}
.briefcase:before {
  content: "\f104";
}
.category:before {
  content: "\f105";
}
.chalkboard:before {
  content: "\f106";
}
.chevron-down:before {
  content: "\f107";
}
.chevron-left:before {
  content: "\f108";
}
.chevron-right:before {
  content: "\f109";
}
.chevron-up:before {
  content: "\f10a";
}
.cog:before {
  content: "\f10b";
}
.color:before {
  content: "\f10c";
}
.comment-detail:before {
  content: "\f10d";
}
.copy:before {
  content: "\f10e";
}
.credit-card:before {
  content: "\f10f";
}
.credit-card-alt:before {
  content: "\f110";
}
.dock-bottom:before {
  content: "\f111";
}
.dock-top:before {
  content: "\f112";
}
.envelope:before {
  content: "\f113";
}
.error:before {
  content: "\f114";
}
.error-alt:before {
  content: "\f115";
}
.help-circle:before {
  content: "\f116";
}
.hide:before {
  content: "\f117";
}
.home-smile:before {
  content: "\f118";
}
.horizontal-center:before {
  content: "\f119";
}
.image:before {
  content: "\f11a";
}
.images:before {
  content: "\f11b";
}
.info-circle:before {
  content: "\f11c";
}
.info-square:before {
  content: "\f11d";
}
.link:before {
  content: "\f11e";
}
.list-link:before {
  content: "\f11f";
}
.list-ul:before {
  content: "\f120";
}
.loader-circle:before {
  content: "\f121";
}
.log-out:before {
  content: "\f122";
}
.map:before {
  content: "\f123";
}
.map-pin:before {
  content: "\f124";
}
.menu-alt-left:before {
  content: "\f125";
}
.message-square-edit:before {
  content: "\f126";
}
.minus-circle:before {
  content: "\f127";
}
.note:before {
  content: "\f128";
}
.pin:before {
  content: "\f129";
}
.plus:before {
  content: "\f12a";
}
.plus-circle:before {
  content: "\f12b";
}
.polygon:before {
  content: "\f12c";
}
.rocket:before {
  content: "\f12d";
}
.save:before {
  content: "\f12e";
}
.s-chevron-up:before {
  content: "\f12f";
}
.search:before {
  content: "\f130";
}
.share-link:before {
  content: "\f131";
}
.show:before {
  content: "\f132";
}
.sitemap:before {
  content: "\f133";
}
.solid-bar-chart-square:before {
  content: "\f134";
}
.solid-book-content:before {
  content: "\f135";
}
.solid-briefcase:before {
  content: "\f136";
}
.solid-category:before {
  content: "\f137";
}
.solid-chalkboard:before {
  content: "\f138";
}
.solid-chevron-down:before {
  content: "\f139";
}
.solid-chevron-left:before {
  content: "\f13a";
}
.solid-chevron-right:before {
  content: "\f13b";
}
.solid-cog:before {
  content: "\f13c";
}
.solid-color:before {
  content: "\f13d";
}
.solid-comment-detail:before {
  content: "\f13e";
}
.solid-copy:before {
  content: "\f13f";
}
.solid-coupon:before {
  content: "\f140";
}
.solid-credit-card:before {
  content: "\f141";
}
.solid-credit-card-alt:before {
  content: "\f142";
}
.solid-dock-bottom:before {
  content: "\f143";
}
.solid-dock-top:before {
  content: "\f144";
}
.solid-envelope:before {
  content: "\f145";
}
.solid-error:before {
  content: "\f146";
}
.solid-error-alt:before {
  content: "\f147";
}
.solid-help-circle:before {
  content: "\f148";
}
.solid-home-smile:before {
  content: "\f149";
}
.solid-hourglass:before {
  content: "\f14a";
}
.solid-image:before {
  content: "\f14b";
}
.solid-info-circle:before {
  content: "\f14c";
}
.solid-info-square:before {
  content: "\f14d";
}
.solid-list-link:before {
  content: "\f14e";
}
.solid-map:before {
  content: "\f14f";
}
.solid-map-pin:before {
  content: "\f150";
}
.solid-offer:before {
  content: "\f151";
}
.solid-pin:before {
  content: "\f152";
}
.solid-polygon:before {
  content: "\f153";
}
.solid-report:before {
  content: "\f154";
}
.solid-rocket:before {
  content: "\f155";
}
.solid-save:before {
  content: "\f156";
}
.solid-share-link:before {
  content: "\f157";
}
.solid-star:before {
  content: "\f158";
}
.solid-star-half:before {
  content: "\f159";
}
.solid-trash:before {
  content: "\f15a";
}
.solid-universal-access:before {
  content: "\f15b";
}
.solid-user-circle:before {
  content: "\f15c";
}
.solid-user-rectangle:before {
  content: "\f15d";
}
.star:before {
  content: "\f15e";
}
.trash:before {
  content: "\f15f";
}
.trip:before {
  content: "\f160";
}
.universal-access:before {
  content: "\f161";
}
.user-circle:before {
  content: "\f162";
}
.x:before {
  content: "\f163";
}
